.product-row-actions {
  display: flex;
  align-items: center;
}

.product-row-actions > * {
  height: 23.9667px;
}

.product-row-actions > .ui.input {
  margin-right: 0.25em;
  width: 4em;
}

.product-row-actions > .ui.input input {
  text-align: center;
}

.product-row-actions > .ui.label {
  line-height: 23.9667px;
  padding: 0 18px;
  margin-right: 2.283px;
}

.product-row-actions > .ui.yellow.label {
  padding: 0 18px;
}

.product-row-actions > .ui.green.label {
  padding: 0 16px;
}

.ui.table td.single.line {
  vertical-align: baseline;
}
