* {
  overscroll-behavior: contain;
  overscroll-behavior-block: contain;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > .ui.segment {
  width: 100%;
  max-width: 1440px;
  border: none;
  padding-bottom: 0;
}

#root > .ui.loading.segment:only-child {
  max-width: none;
  flex: 1;
}

#root > .products {
  flex: 1;
  padding-top: 0px;
}

.products-border {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  border-radius: 0.28571429rem;
}

.ui.menu {
  overflow: hidden;
}

.product-row-name {
  overflow-wrap: anywhere;
}

.product-row-actions {
  display: flex;
  align-items: center;
}

.product-row-actions > * {
  height: 23.9667px;
}

.product-row-actions > .ui.input {
  margin-right: 0.25em;
  width: 4em;
}

.product-row-actions > .ui.input input {
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.product-row-actions > .ui.input input::-webkit-inner-spin-button,
.product-row-actions > .ui.input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.product-row-actions > .ui.label {
  line-height: 23.9667px;
  padding: 0 18px;
}

.product-row-actions > .ui.yellow.label {
  padding: 0 18px;
}

.product-row-actions > .ui.green.label {
  padding: 0 16px;
}

.sign-in-page {
  height: 100vh;
  width: 100vw;
}

.sign-in-page .column {
  max-width: 450px;
}

.list-header,
.list-item {
  overflow: hidden;
}

.list-header,
.list-item.category {
  background: #f9fafb;
  font-weight: 700;
  border: 1px solid rgba(34, 36, 38, 0.1);
}

.list-header > div {
  padding: 0.92857143em 0.6em;
}

.list-header {
  border-radius: 0.28571429rem 0 0 0;
  display: flex;
}

.list-header > div:nth-child(1) {
  flex: 1;
}

.list-header > div:nth-child(2) {
  flex: 0 1 13.4042553%;
  min-width: 92px;
}

.list-header > div:nth-child(3) {
  flex: 0 1 28.5815603%;
  min-width: 121px;
}

.list-item.category {
  border-top: none;
}

.list-item.product {
  display: flex;
  align-items: baseline;
  border: 1px solid rgba(34, 36, 38, 0.1);
  border-top: none;
}

.list-item.product > div:nth-child(1) {
  flex: 1;
}

.list-item.product > div:nth-child(2) {
  flex: 0 1 13.4042553%;
  min-width: 92px;
}

.list-item.product > div:nth-child(3) {
  flex: 0 1 28.5815603%;
  min-width: 121px;
}

.list-item.product > div,
.list-item.category {
  padding: 0.4em 0.6em;
}

.ui.segment.order-products {
  padding-top: 0;
  overflow-x: hidden;
}

.ui.segment.order-products > div {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

@media screen and (min-width: 601px) {
  .ui.segment.order-buttons {
    padding-bottom: 1em !important;
  }
}

@media screen and (max-width: 600px) {
  .list-header > div:nth-child(2) {
    flex: 0 0 auto;
    min-width: unset;
  }

  .list-header > div:nth-child(3) {
    flex: 0 0 auto;
    min-width: unset;
  }

  .list-item.product > div:nth-child(2) {
    flex: 0 0 68px;
    min-width: unset;
  }

  .list-item.product > div:nth-child(3) {
    flex: 0 0 52px;
    min-width: unset;
  }

  .list-item.product > div,
  .list-item.category {
    padding: 0.2em 0.3em;
  }

  .product-row-actions > .ui.label {
    padding: 0 16px !important;
  }

  .product-row-actions > .ui.label .icon {
    margin-right: 0 !important;
  }

  .product-row-actions {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .product-row-actions > * {
    margin-right: 0;
    width: 100%;
  }

  #root > .ui.segment {
    padding-left: 0;
    padding-right: 0;
  }
}

.updated-at-notice {
  font-size: .78571429em;
}
